
body {
    display: flex;
    flex-direction: column; 
    min-height: 100vh;      
    margin: 0;
    font-family: Arial, sans-serif;
}

.container1 {
    flex-grow: 1; 
    display: grid;
    place-items: center;
    padding: 20px 0; 
}


.container {
    overflow-x: auto;
    
    width: 90%;
    
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    
}

.container h2 {
    text-align: center;
    padding-bottom: 2%;
}

.container table {

    width: 100%;
 
    min-width: 900px; 
    
    border-collapse: collapse;
}

.container table th,
.container table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    
    white-space: nowrap; 
}

.container table th {
    background-color: #f4f4f4;
}

.btnActualizar, .btnEliminar {
    display: inline-block; 
    padding: 8px 12px;     
    margin: 2px;           
    border: none;          
    border-radius: 5px;    
    color: white;          
    text-decoration: none; 
    cursor: pointer;       
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    
    transition: background-color 0.2s ease-in-out;
}

.btnActualizar {
    background-color: #198754; 
}
.btnActualizar:hover {
    background-color: #157347; 
}


.btnEliminar {
    background-color: #dc3545;
}
.btnEliminar:hover {
    background-color: #bb2d3b; 
}