*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 5%;
    background: #ffffff;
    
}

header:hover{
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
    
    
}

body{
    background: #bbb5c0;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    color: rgb(50, 19, 61);
}

.navlist{
    display: flex;
}

header .navlist a{
    color:rgb(50, 19, 61);
    margin-left: 40px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all 0.55s ease;
}

header .navlist a:hover{
    border-bottom: 2px  solid rgb(27, 1, 1);
}

#menu-icon{
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.btn {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
}