.wrapper{
    margin-top: 10%;
    margin-bottom: 5%;
    min-height: 76vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.content1, .content2>div{
    flex: 1;
    background-color: white;
    border-radius: 10px;
    padding: 3%;
}

.btnGenerar{
    background: rgb(158, 118, 160);
    padding: 5px 8px;        
    border-radius: 6px;        
    border: 1px solid transparent;
    cursor: pointer;
    transition: background-color 0.2s ease;
    transition: .5s;
    font-size: 20px;
    font-weight: 450;
    color: black;

}

.btnGenerar:hover{
    background: rgb(129, 94, 131);
    padding: 5px 15px;        
    transition: .5s;
}



.main-container{
    flex: 6;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}

.content2{
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;

}

@media screen and (max-width:800px) {
    
    .main-container{
        min-height: 400px;
    }

    .content1{
        flex: 100%;
    }

    .wrapper{
        margin-top: 30%;
    }

}

@media screen and (max-width: 520px) {
    
    .content2{
        flex-direction: column;
    }

    .content2>div{
        min-height: 200px;
    }

}